
input {
	font-size: 1rem;
	padding: .6rem;
	width: calc(100% - 80px);
	border-radius: 5px;
	border: 1px solid #C8CFD9;

	&.zip-code {
		width: 200px;
		border-radius: 50px;
		padding-left: 1rem;
		font-size: .875rem;
	}
}

// Effet de focus
input, button {
	@include focus();
}



