

@mixin focus() {
	transition: $tr-default;

	&:hover, &:focus {
		border: 1px solid #80BDFF;
		box-shadow: 0 0 2px 2px #BFDEFF;
	}
}

// S'applique sur des éléments avec "position" défini (absolute ou relative)
@mixin curved-shadow() {

	// Ombre portée
	&:before {
		content: "";
		position: absolute;
		z-index: -1;

		left: 10px;
		right: 10px;
		bottom: 0;
		height: 20px;

		background: #000;
		border-radius: 100%;
		box-shadow: 0 0 10px #B7BCDF;
	}

}

@mixin block-shadow() {

	transition: all .5s ease;

	box-shadow: 0 5px 4px -3px rgba(#E4E5F0, .15),
	            0 2px 6px rgba(#5F6CCA, .15);

	&:hover {
		box-shadow: 0 7px 8px -3px rgba(#E4E5F0, .5),
	            0 4px 10px rgba(#5F6CCA, .5);
	}

}
